<nav class="neon-navbar">
    <ul class="nav-links nav-left">
        <li><a th:href="@{/enderecos}">Endereços</a></li>
        <li><a th:href="@{/filiais}">Filiais</a></li>
        <li><a th:href="@{/patios}">Pátios</a></li>
        <li><a th:href="@{/zonas-patio}" class="break">Zonas de Pátio</a></li>
        <li><a th:href="@{/motociclistas}">Motociclistas</a></li>
        <li><a th:href="@{/motos}">Motos</a></li>
    </ul>

    <a class="brand" th:href="@{/home}">Challenge</a>

    <ul class="nav-links nav-right">
        <li><a th:href="@{/localizacoes-moto}" class="break">Localização de Moto</a></li>
        <li><a th:href="@{/historicos}">Histórico</a></li>
        <li><a th:href="@{/notas-fiscais}" class="break">Notas Fiscais</a></li>
        <li><a th:href="@{/tipos-moto}" class="break">Tipos de Moto</a></li>
        <li><a th:href="@{/status-motos}" class="break">Status Moto</a></li>
        <li><a th:href="@{/status-operacoes}" class="break">Status Operação</a></li>
        <li><a th:href="@{/logout}" class="logout">Logout</a></li>
    </ul>
</nav>
